In [2]:
#########################################

In [1]:
import pandas as pd
import numpy as np
import platform
import matplotlib.pyplot as plt

%matplotlib inline

In [8]:
# 신혼부부 수
df_n_married = pd.read_csv('data/origin/시군구별_초혼_신혼부부_수_20230623151753_분석(전년_대비_증감,증감률).csv', encoding='euc-kr', sep=',')
df_n_married.head(1283).tail()

,행정구역별(1),행정구역별(2),2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2
275,경상남도,거창군,801,-45,-5.3,724,-77,-9.6,671,-53,-7.3,629,-42,-6.3,573,-56,-8.9
276,경상남도,합천군,393,-15,-3.7,342,-51,-13.0,321,-21,-6.1,306,-15,-4.7,251,-55,-18.0
277,제주특별자치도,소계,13552,-11,-0.1,13280,-272,-2.0,12656,-624,-4.7,12037,-619,-4.9,11256,-781,-6.5
278,제주특별자치도,제주시,10383,-172,-1.6,10125,-258,-2.5,9635,-490,-4.8,9260,-375,-3.9,8648,-612,-6.6
279,제주특별자치도,서귀포시,3170,162,5.4,3156,-14,-0.4,3021,-135,-4.3,2777,-244,-8.1,2608,-169,-6.1

In [3]:
# 컬럼데이터 너무 크므로 cols변수에 넣음 -> 원본의 df_n_married_columns는 비파괴됨.
cols = df_n_married.columns
cols

Index(['행정구역별(1)', '행정구역별(2)', '2017', '2017.1', '2017.2', '2018', '2018.1',
       '2018.2', '2019', '2019.1', '2019.2', '2020', '2020.1', '2020.2',
       '2021', '2021.1', '2021.2'],
      dtype='object')

In [4]:
len(cols), cols[4][-2:], cols[4][0]

(17, '.2', '2')

``` 첫번째 반복문 괄호묶음 잘못됨-> 출력결과 오류 ```

In [ ]:
######  # 오류)증감수와 증감률의 구분없이 첫번째 조건문(신혼증감) 결과로 출력됨 #####
# # cols = df_n_married.columns
# col_list = []
# for i in range((len(cols))):
#     if (str(cols[i][-2]) == '.' and str(cols[i][-1] == '1')):
#         col_list.append(f'{cols[i][2:4]}신혼증감')
#     elif (str(cols[i][-2]) == '.' and str(cols[i][-1] == '2')):
#         col_list.append(f'{cols[i][2:4]}신혼증감률')
#     elif str(cols[i][-1]) == ')' :
#         col_list.append(cols[i])
#     else:
#         col_list.append(f'{cols[i][2:4]}신혼 수')
# col_list

In [5]:
# 수정된 반복문 #############
# # cols = df_n_married.columns
col_list = []
for i in range((len(cols))):     # cols = df_n_married.columns
    if (cols[i][4:6] == str('.2') and cols[i][4:6] != str('.1')):
        col_list.append(f'{cols[i][2:4]}신혼증감률')
    elif (cols[i][4:6] == '.1' and cols[i][4:6] != '.2'):
        col_list.append(f'{cols[i][2:4]}신혼증감')
    elif cols[i][-1] == ')' :       # 행정구역 행은 그대로 살림
        col_list.append(cols[i])
    else:
        col_list.append(f'{cols[i][2:4]}신혼 수')
col_list

['행정구역별(1)',
 '행정구역별(2)',
 '17신혼 수',
 '17신혼증감',
 '17신혼증감률',
 '18신혼 수',
 '18신혼증감',
 '18신혼증감률',
 '19신혼 수',
 '19신혼증감',
 '19신혼증감률',
 '20신혼 수',
 '20신혼증감',
 '20신혼증감률',
 '21신혼 수',
 '21신혼증감',
 '21신혼증감률']

In [6]:
cols = df_n_married.columns    # 반복문에 사용한 변수 cols
cols = col_list             # cols에 반복문 결과값 col_list 넣어보기
df_n_married.columns   # cols만 바뀐 것-> df_n_married.columns에 반영안되어있음

Index(['행정구역별(1)', '행정구역별(2)', '2017', '2017.1', '2017.2', '2018', '2018.1',
       '2018.2', '2019', '2019.1', '2019.2', '2020', '2020.1', '2020.2',
       '2021', '2021.1', '2021.2'],
      dtype='object')

In [7]:
# 원본 데이터에 col_list 반영하기(변수 col에 넣으면 적용안됨)
df_n_married.columns = col_list
df_n_married.columns

Index(['행정구역별(1)', '행정구역별(2)', '17신혼 수', '17신혼증감', '17신혼증감률', '18신혼 수',
       '18신혼증감', '18신혼증감률', '19신혼 수', '19신혼증감', '19신혼증감률', '20신혼 수', '20신혼증감',
       '20신혼증감률', '21신혼 수', '21신혼증감', '21신혼증감률'],
      dtype='object')

In [8]:
df_n_married.isna().sum().sum()

0

In [9]:
########### 파일 저장 ############
df_n_married.to_csv('data/tmp/신혼부부.csv', index=False)

In [2]:
df = pd.read_csv('data/tmp/신혼부부.csv', encoding='utf-8', sep=',')
df.head()

,행정구역별(1),행정구역별(2),17신혼 수,17신혼증감,17신혼증감률,18신혼 수,18신혼증감,18신혼증감률,19신혼 수,19신혼증감,19신혼증감률,20신혼 수,20신혼증감,20신혼증감률,21신혼 수,21신혼증감,21신혼증감률
0,행정구역별(1),행정구역별(2),원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률,원데이터,전년 대비 증감,증감률
1,전국,소계,1103270,-47861,-4.2,1052352,-50918,-4.6,998365,-53987,-5.1,938080,-60285,-6.0,871428,-66652,-7.1
2,서울특별시,소계,225322,-12356,-5.2,211434,-13888,-6.2,199294,-12140,-5.7,188790,-10504,-5.3,172850,-15940,-8.4
3,서울특별시,종로구,2614,37,1.4,2601,-13,-0.5,2315,-286,-11.0,2089,-226,-9.8,1851,-238,-11.4
4,서울특별시,중구,2970,-41,-1.4,3003,33,1.1,2822,-181,-6.0,2698,-124,-4.4,2421,-277,-10.3

In [3]:
### 연도 선택하기
df1 = df[['행정구역별(1)','행정구역별(2)','21신혼 수','21신혼증감','21신혼증감률']]
df1.head()

   행정구역별(1)  행정구역별(2)  21신혼 수    21신혼증감 21신혼증감률
0  행정구역별(1)  행정구역별(2)    원데이터  전년 대비 증감     증감률
1        전국        소계  871428    -66652    -7.1
2     서울특별시        소계  172850    -15940    -8.4
3     서울특별시       종로구    1851      -238   -11.4
4     서울특별시        중구    2421      -277   -10.3

In [4]:
df1['행정구역별(1)']

0      행정구역별(1)
1            전국
2         서울특별시
3         서울특별시
4         서울특별시
         ...
275        경상남도
276        경상남도
277     제주특별자치도
278     제주특별자치도
279     제주특별자치도
Name: 행정구역별(1), Length: 280, dtype: object

In [6]:
# 행정구역별(1),(2) 열 합치기
df1.loc[:,'행정구역'] = df1['행정구역별(1)'] + ' ' + df1['행정구역별(2)']
df1['행정구역']

0      행정구역별(1) 행정구역별(2)
1                  전국 소계
2               서울특별시 소계
3              서울특별시 종로구
4               서울특별시 중구
             ...
275             경상남도 거창군
276             경상남도 합천군
277           제주특별자치도 소계
278          제주특별자치도 제주시
279         제주특별자치도 서귀포시
Name: 행정구역, Length: 280, dtype: object

In [7]:
df1.insert(2, '행정구역', df1.pop('행정구역'))  # 2열로 옮기고, 원래 위치에 있던 열은 삭제
df2= df1.drop([0])  # index[0]번 행 삭제
df2.drop(['행정구역별(1)', '행정구역별(2)'], axis=1, inplace=True)       # 열 두개 삭제
df2.head(2)

       행정구역  21신혼 수  21신혼증감 21신혼증감률
1     전국 소계  871428  -66652    -7.1
2  서울특별시 소계  172850  -15940    -8.4

In [8]:
## 열 이름 보기 쉽게 바꾸기
df2.columns.tolist()

['행정구역', '21신혼 수', '21신혼증감', '21신혼증감률']

In [10]:
df2.columns = ['행정구역','신혼수_21','신혼증감_21','신혼증감률_21']
df2.columns

Index(['행정구역', '신혼수_21', '신혼증감_21', '신혼증감률_21'], dtype='object')

In [12]:
# 증감이 +인 곳이 있는가? 확인
df2.sort_values(by='신혼증감률_21', ascending=False).head()

           행정구역 신혼수_21 신혼증감_21 신혼증감률_21
263    경상남도 성산구   4283     324      8.2
264  경상남도 마산합포구   2792     208      8.0
117     경기도 하남시   7821     500      6.8
101     경기도 평택시  12743     645      5.3
56     인천광역시 동구    732      27      3.8

In [13]:
df2.isna().sum().sum()

0

In [30]:
######## 저장
df2.to_csv('data/tmp/신혼부부_0629.csv', index=False)

In [2]:
####### 새로 불러와서 작업
df= pd.read_csv('data/tmp/신혼부부_0629.csv', encoding='utf-8',sep=',')
df.head(3)

        행정구역  신혼수_21  신혼증감_21  신혼증감률_21
0      전국 소계  871428   -66652      -7.1
1   서울특별시 소계  172850   -15940      -8.4
2  서울특별시 종로구    1851     -238     -11.4

In [3]:
####### 데이터 타입 확인
# 정리되어있음
type(df['행정구역'][0]), type(df['신혼수_21'][0]), type(df['신혼증감_21'][0]), type(df['신혼증감률_21'][0])

(str, numpy.int64, numpy.int64, numpy.float64)

In [4]:
df.행정구역 = df['행정구역'].str.split()

In [5]:
df.행정구역

0             [전국, 소계]
1          [서울특별시, 소계]
2         [서울특별시, 종로구]
3          [서울특별시, 중구]
4         [서울특별시, 용산구]
            ...
274        [경상남도, 거창군]
275        [경상남도, 합천군]
276      [제주특별자치도, 소계]
277     [제주특별자치도, 제주시]
278    [제주특별자치도, 서귀포시]
Name: 행정구역, Length: 279, dtype: object

In [11]:
df.행정구역[50][:]

['대구광역시', '수성구']

In [13]:
df.행정구역[0][:-1]

['전국']

In [27]:
####### 행정구역 value 수정-> ~ '소계' 삭제

# 공백 기준 리스트로 만들기 -> [-1]이 "소계"이면 삭제
dist_list=[]
for i in range(len(df.index)):
    dist = df.행정구역
    if dist[i][-1] == '소계':
        dist_list.append(' '.join(dist[i][:-1]))    # str형태로 다시 바꿔서 집어넣기
    else:
        dist_list.append(' '.join(dist[i]))
dist_list[:4]

['전국', '서울특별시', '서울특별시 종로구', '서울특별시 중구']

In [28]:
df.행정구역 = dist_list
df.행정구역

0                전국
1             서울특별시
2         서울특별시 종로구
3          서울특별시 중구
4         서울특별시 용산구
           ...
274        경상남도 거창군
275        경상남도 합천군
276         제주특별자치도
277     제주특별자치도 제주시
278    제주특별자치도 서귀포시
Name: 행정구역, Length: 279, dtype: object

In [29]:
df.isna().sum().sum()

0

In [31]:
df.to_csv('data/신혼부부.csv', index=False)
df.head()

        행정구역  신혼수_21  신혼증감_21  신혼증감률_21
0         전국  871428   -66652      -7.1
1      서울특별시  172850   -15940      -8.4
2  서울특별시 종로구    1851     -238     -11.4
3   서울특별시 중구    2421     -277     -10.3
4  서울특별시 용산구    4622     -140      -2.9