In [ ]:
#########################################

In [1]:
import pandas as pd
import numpy as np
import platform
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
# 신혼부부 수
df_n_married = pd.read_csv('data/origin/시군구별_초혼_신혼부부_수_20230623151753_분석(전년_대비_증감,증감률).csv', encoding='euc-kr', sep=',')
df_n_married.head(1283).tail(2)

,행정구역별(1),행정구역별(2),2017,2017.1,2017.2,2018,2018.1,2018.2,2019,2019.1,2019.2,2020,2020.1,2020.2,2021,2021.1,2021.2
278,제주특별자치도,제주시,10383,-172,-1.6,10125,-258,-2.5,9635,-490,-4.8,9260,-375,-3.9,8648,-612,-6.6
279,제주특별자치도,서귀포시,3170,162,5.4,3156,-14,-0.4,3021,-135,-4.3,2777,-244,-8.1,2608,-169,-6.1

In [4]:
cols = df_n_married.columns
cols

Index(['행정구역별(1)', '행정구역별(2)', '2017', '2017.1', '2017.2', '2018', '2018.1',
       '2018.2', '2019', '2019.1', '2019.2', '2020', '2020.1', '2020.2',
       '2021', '2021.1', '2021.2'],
      dtype='object')

In [5]:
len(cols), cols[4][-2:], cols[4][0]

(17, '.2', '2')

In [14]:
cols = df_n_married.columns
col_list = []
for i in range(2, int(len(cols))): # 행정구역 행 제외
    if (str(cols[i][-2]) == '.' and str(cols[i][-1] == '2')):
        col_list.append(f'{cols[i][2:4]}신혼증감률')
    elif (str(cols[i][-2]) == '.' and str(cols[i][-1] == '1')):
        df_n_married.drop(labels=cols[i], inplace=True, axis=1)
    else:
        col_list.append(f'{cols[i][2:4]}신혼부부수')

In [15]:
col_list

['17신혼부부수',
 '17신혼증감률',
 '17신혼증감률',
 '18신혼부부수',
 '18신혼증감률',
 '18신혼증감률',
 '19신혼부부수',
 '19신혼증감률',
 '19신혼증감률',
 '20신혼부부수',
 '20신혼증감률',
 '20신혼증감률',
 '21신혼부부수',
 '21신혼증감률',
 '21신혼증감률']

In [18]:
df_n_married.shape, df_n_married.isna().sum().sum()

((280, 17), 0)

In [ ]:
# df_newly_married.drop(df_newly_married['행정구역별(2)'] == '소계')