In [1]:
import pandas as pd
import numpy as np
import platform
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [3]:
from matplotlib import font_manager, rc # 한글 폰트 사용

plt.rcParams["font.family"] = "malgun Gothic"
plt.rcParams['axes.unicode_minus'] = False

In [ ]:
########## 지역인구 데이터 모두 불러와서 확인하기 ###########
### 신혼부부 수 현황
### 출생등록 현황
### 아동/청소년/청년 인구 현황
### 10세 연령구간별 인구 현황
### 평균연령 현황

In [ ]:
########## 데이터 전처리 계획 ###########
# 1) 각 데이터 전처리
### 신혼부부 수 현황 : 행정구역 행 하나로 합치기, 증감수 행 삭제, 행 이름 수정
### 출생등록 현황 : 성별 행 삭제
### 아동/청소년/청년 인구 현황 : 필요없는 데이터(미사용)
### 10세 연령구간별 인구 현황 : 행 너무 많음. 과감히 삭제 및 concat 필요
### 평균연령 현황 : 성별연령 행 삭제

# 2) 전체 데이터 병합
# 행정구역 정리
# 결측치 확인

In [6]:
# 10세 연령 구간별 인구
df_age_10 = pd.read_csv('data/origin/202305_202305_연령별인구현황_월간_10세.csv',encoding='euc-kr', sep=',' )
df_age_10.head(1280).tail(3)

,행정구역,2023년05월_계_총인구수,2023년05월_계_연령구간인구수,2023년05월_계_0~9세,2023년05월_계_10~19세,2023년05월_계_20~29세,2023년05월_계_30~39세,2023년05월_계_40~49세,2023년05월_계_50~59세,2023년05월_계_60~69세,...,2023년05월_여_10~19세,2023년05월_여_20~29세,2023년05월_여_30~39세,2023년05월_여_40~49세,2023년05월_여_50~59세,2023년05월_여_60~69세,2023년05월_여_70~79세,2023년05월_여_80~89세,2023년05월_여_90~99세,2023년05월_여_100세 이상
1277,세종특별자치시 대평동(3611057000),"11,224","11,224","1,491","1,173","1,219","1,980","2,075","1,780","1,050",...,575,588,"1,033","1,045",935,524,152,92,23,0
1278,세종특별자치시 다정동(3611058000),"28,622","28,622","4,373","4,028","2,287","5,209","6,444","3,371","2,001",...,"2,044","1,212","2,799","3,299","1,709","1,115",355,127,35,2
1279,경기도 (4100000000),"13,612,597","13,612,597","1,019,287","1,324,654","1,712,711","1,878,273","2,273,387","2,305,957","1,795,821",...,"646,034","810,242","900,629","1,115,274","1,141,019","900,277","445,073","258,665","45,998","1,513"

In [7]:
df_age_10.shape

(3877, 40)

In [8]:
df_age_aver = pd.read_csv('data/origin/202305_202305_주민등록인구기타현황(평균연령)_avgAge.csv', encoding='euc-kr', sep=',')
df_age_aver.head()

,행정구역,2023년05월_남자 평균연령,2023년05월_여자 평균연령,2023년05월_평균연령
0,전국 (1000000000),43.3,45.6,44.5
1,서울특별시 (1100000000),43.4,44.9,44.2
2,서울특별시 종로구 (1111000000),45.3,46.3,45.8
3,서울특별시 종로구 청운효자동(1111051500),43.3,46.0,44.7
4,서울특별시 종로구 사직동(1111053000),45.7,46.2,46.0

In [9]:
df_age_aver.shape, df_age_aver.isna().sum().sum()

((3861, 4), 0)

In [11]:
############## age_10과 age_aver 데이터 합치기(merge) ##############
# 공통인 행정구역을 기준으로
df_ages = df_age_10.merge(df_age_aver, on = '행정구역', how='outer')
df_ages.to_csv('data/tmp/전체연령.csv', index=False)

In [12]:
df_ages = pd.read_csv('data/tmp/전체연령.csv', encoding='utf-8', sep=',')

In [22]:
df_ages.shape   # 3877 -> 3878 로 1개 행 증가함

(3878, 14)

In [13]:
df_ages.columns

Index(['행정구역', '2023년05월_계_총인구수', '2023년05월_계_연령구간인구수', '2023년05월_계_0~9세',
       '2023년05월_계_10~19세', '2023년05월_계_20~29세', '2023년05월_계_30~39세',
       '2023년05월_계_40~49세', '2023년05월_계_50~59세', '2023년05월_계_60~69세',
       '2023년05월_계_70~79세', '2023년05월_계_80~89세', '2023년05월_계_90~99세',
       '2023년05월_계_100세 이상', '2023년05월_남_총인구수', '2023년05월_남_연령구간인구수',
       '2023년05월_남_0~9세', '2023년05월_남_10~19세', '2023년05월_남_20~29세',
       '2023년05월_남_30~39세', '2023년05월_남_40~49세', '2023년05월_남_50~59세',
       '2023년05월_남_60~69세', '2023년05월_남_70~79세', '2023년05월_남_80~89세',
       '2023년05월_남_90~99세', '2023년05월_남_100세 이상', '2023년05월_여_총인구수',
       '2023년05월_여_연령구간인구수', '2023년05월_여_0~9세', '2023년05월_여_10~19세',
       '2023년05월_여_20~29세', '2023년05월_여_30~39세', '2023년05월_여_40~49세',
       '2023년05월_여_50~59세', '2023년05월_여_60~69세', '2023년05월_여_70~79세',
       '2023년05월_여_80~89세', '2023년05월_여_90~99세', '2023년05월_여_100세 이상',
       '2023년05월_남자 평균연령', '2023년05월_여자 평균연령', '2023년05월_평균연령'],
      dtype='object')

In [14]:
# str(df_ages.columns[12][9])
type(df_ages.columns)

pandas.core.indexes.base.Index

In [15]:
df_ages.columns[18][9], df_ages.columns[30][8:11], len(df_ages.columns)

('남', '_여_', 43)

In [16]:
### 삭제 반복문 ###
# '세'로 끝나면서 '계'가 아닌 것들 삭제
# 남/여 연령구간인구수-> 총인구수와 중복됨-> 삭제하기 
# 여/남 평균연령(성별들어간 행 삭제)
# 삭제된 행은 print로 확인 

cols = df_ages.columns
col_list= []
for i in range(int(len(cols))):     # int로 안하면 index range에러 뜸
    if (str(cols[i][-1]) == '상' and str(cols[i][9]) != '계'):
        df_ages.drop(labels=cols[i], inplace=True, axis=1)
        # print(f'{i}삭제__{cols[i]}')
    elif (str(cols[i][-1]) == '세' and str(cols[i][9]) != '계'):
        df_ages.drop(labels=cols[i], inplace=True, axis=1)
        # print(f'{i}삭제__{cols[i]}')
    elif (str(cols[i][10:12]) == '_연'):
        df_ages.drop(labels=cols[i], inplace=True, axis=1)
        # print(f'{i}삭제__{cols[i]}')
    elif (str(cols[i][8:10]) == '_남'):
        df_ages.drop(labels=cols[i], inplace=True, axis=1)
        # print(f'{i}삭제__{cols[i]}')
    elif (str(cols[i][8:10]) == '_여'):
        df_ages.drop(labels=cols[i], inplace=True, axis=1)
        # print(f'{i}삭제__{cols[i]}')
    else:
        print(f'{cols[i]}__보존{i}')
        col_list.append(cols[i].strip().split('_')[-1])  # 행이름에서 추출할 부분만

행정구역__보존0
2023년05월_계_총인구수__보존1
2023년05월_계_0~9세__보존3
2023년05월_계_10~19세__보존4
2023년05월_계_20~29세__보존5
2023년05월_계_30~39세__보존6
2023년05월_계_40~49세__보존7
2023년05월_계_50~59세__보존8
2023년05월_계_60~69세__보존9
2023년05월_계_70~79세__보존10
2023년05월_계_80~89세__보존11
2023년05월_계_90~99세__보존12
2023년05월_계_100세 이상__보존13
2023년05월_평균연령__보존42

In [21]:
df_ages.columns = col_list
df_ages.columns, len(df_ages.columns)

(Index(['행정구역', '총인구수', '0~9세', '10~19세', '20~29세', '30~39세', '40~49세',
        '50~59세', '60~69세', '70~79세', '80~89세', '90~99세', '100세 이상', '평균연령'],
       dtype='object'),
 14)

In [26]:
df_ages.isna().sum()

행정구역        0
총인구수        1
0~9세        1
10~19세      1
20~29세      1
30~39세      1
40~49세      1
50~59세      1
60~69세      1
70~79세      1
80~89세      1
90~99세      1
100세 이상     1
평균연령       17
dtype: int64

In [28]:
df_ages.iloc[3877]      # 행정구역-전국이 있음 -> 일단 킵(데이터 보존위해 결측치 행까지 병합한 상태)

행정구역       전국  (1000000000)
총인구수                    NaN
0~9세                    NaN
10~19세                  NaN
20~29세                  NaN
30~39세                  NaN
40~49세                  NaN
50~59세                  NaN
60~69세                  NaN
70~79세                  NaN
80~89세                  NaN
90~99세                  NaN
100세 이상                 NaN
평균연령                   44.5
Name: 3877, dtype: object

In [30]:
df_ages.to_csv('data/tmp/전체연령2.csv', index=False)

In [10]:
df_ages = pd.read_csv('data/tmp/전체연령2.csv',encoding='utf-8', sep=',')
df_ages.head(2)

,행정구역,총인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상,평균연령
0,서울특별시 (1100000000),"9,418,885","530,837","744,507","1,379,056","1,425,785","1,435,754","1,490,647","1,311,328","723,982","331,600","43,937","1,452",44.2
1,서울특별시 종로구 (1111000000),"140,601","6,125","10,069","21,929","19,345","19,563","24,007","20,542","11,443","6,609",935,34,45.8

In [ ]:
# ###### 축약버전 (미완) ####
# cols = df_ages.columns
# for i in range(1, 44):
#     if (str(cols[i][9]) != '계' and (str(cols[i][-1]) == '상' or str(cols[i][-1]) == '세')):
#         df_ages.drop(labels=cols[i], inplace=True, axis=1)
#     elif (str(cols[i][10:12]) == '_연') or (str(cols[i][8:10]) == '_남') or (str(cols[i][8:10]) == '_여'):
#         df_ages.drop(labels=cols[i], inplace=True, axis=1)
#     else:
#         print(f'{cols[i]}____{i}')

In [14]:
# 출생등록 현황#####################
df_birth = pd.read_csv('data/origin/202305_202305_주민등록인구기타현황(출생등록)_birth.csv', encoding='euc-kr', sep=',')
df_birth.head(1283).tail()

                          행정구역 2023년05월_남자인구수 2023년05월_여자인구수 2023년05월_계
1278  세종특별자치시  대평동(3611057000)              1              4          5
1279  세종특별자치시  다정동(3611058000)             15             10         25
1280         경기도  (4100000000)          3,189          2,988      6,177
1281      경기도 수원시 (4111000000)            246            270        516
1282  경기도 수원시 장안구 (4111100000)             37             41         78

In [15]:
# 성별 제외
df_birth = df_birth[['행정구역', '2023년05월_계']]
df_birth.rename(columns = {'2023년05월_계':'출생인구'}, inplace=True)     # df.columns = ['col', 'col', 'col', ''...]

In [16]:
# 성별제외ver 저장 
df_birth.to_csv('data/tmp/출생등록.csv', index=False)

In [29]:
# 데이터 확인
df_b = pd.read_csv('data/tmp/출생등록.csv', encoding='utf-8', sep=',')
df_b.head(2)

                  행정구역    출생인구
0     전국  (1000000000)  20,397
1  서울특별시  (1100000000)   3,520

In [11]:
df_b.shape, df_ages.shape

((3876, 2), (3878, 14))

In [30]:
############## 출생인구df + 연령별인구df 합치기(merge) ##############
# 공통인 행정구역을 기준으로
df_ages_birth = df_ages.merge(df_b, on = '행정구역', how='outer')
df_ages_birth.columns   # 출생인구 행 잘 들어감

df_ages_birth.head(3000).tail()

,행정구역,총인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상,평균연령,출생인구
2995,전라남도 강진군 신전면(4681035000),"1,686",43,80,65,58,142,249,413,326,273,36,1,61.0,1
2996,전라남도 강진군 성전면(4681036000),"2,656",55,112,146,142,199,419,638,486,397,62,0,60.1,2
2997,전라남도 강진군 작천면(4681037000),"1,797",43,63,100,80,125,276,408,322,318,61,1,61.4,3
2998,전라남도 강진군 병영면(4681038000),"1,540",34,67,84,60,121,271,336,270,246,48,3,60.6,0
2999,전라남도 강진군 옴천면(4681039000),602,12,40,37,20,45,87,110,120,109,22,0,60.8,0

In [31]:
############## 출생인구df + 연령별인구df merge ##############
# merge 
df_ages_birth =  pd.merge(df_ages, df_b, on = '행정구역', how='outer')    # how='outer'을 써야 손실없이 병합됨.
df_ages_birth.columns, df_ages_birth.shape    # 3878 -> 3878 변화없음

(Index(['행정구역', '총인구수', '0~9세', '10~19세', '20~29세', '30~39세', '40~49세',
        '50~59세', '60~69세', '70~79세', '80~89세', '90~99세', '100세 이상', '평균연령',
        '출생인구'],
       dtype='object'),
 (3878, 15))

In [39]:
df_ages_birth.shape     # 3878 -> 3878 변화없음

(3878, 15)

In [43]:
df_ages_birth.isna().sum()  # 아까 전국 데이터 결측치 그대로. 변화x

행정구역        0
총인구수        1
0~9세        1
10~19세      1
20~29세      1
30~39세      1
40~49세      1
50~59세      1
60~69세      1
70~79세      1
80~89세      1
90~99세      1
100세 이상     1
평균연령       17
출생인구        2
dtype: int64

In [ ]:
########## 전체연령+출생인구 파일 저장(merge) ###########
df_ages_birth.to_csv('data/tmp/전체연령_출생인구.csv', index=False)

In [ ]:
########## 추가 전처리 ############
# 연령구간 합치기
#

In [10]:
df_ab = pd.read_csv('data/tmp/전체연령_출생인구.csv', encoding='utf-8', sep=',')

In [11]:
df_ab.head()

,행정구역,총인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상,평균연령,출생인구
0,서울특별시 (1100000000),"9,418,885","530,837","744,507","1,379,056","1,425,785","1,435,754","1,490,647","1,311,328","723,982","331,600","43,937","1,452",44.2,"3,520"
1,서울특별시 종로구 (1111000000),"140,601","6,125","10,069","21,929","19,345","19,563","24,007","20,542","11,443","6,609",935,34,45.8,28
2,서울특별시 종로구 청운효자동(1111051500),"11,517",629,"1,116","1,411","1,550","1,965","1,899","1,399",915,552,78,3,44.7,2
3,서울특별시 종로구 사직동(1111053000),"9,104",494,665,"1,078","1,439","1,410","1,494","1,240",692,502,86,4,46.0,0
4,서울특별시 종로구 삼청동(1111054000),"2,291",82,169,264,294,320,350,393,241,150,26,2,49.0,1

In [ ]:
df_ab

In [12]:
df_ab.iloc[:, 10:13].head(2)

    80~89세  90~99세 100세 이상
0  331,600  43,937   1,452
1    6,609     935      34

In [19]:
df_ab['70세 이상a'] = df_ab['70~79세'] + df_ab['80~89세'] + df_ab['90~99세']+ df_ab['100세 이상']

In [21]:
df_ab.drop(columns='70세 이상', inplace=True)

In [22]:
df_ab.head()        # 70세 이상 행의 숫자가 이상함 -> int변환 누락

,행정구역,총인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상,평균연령,출생인구,70세 이상a
0,서울특별시 (1100000000),"9,418,885","530,837","744,507","1,379,056","1,425,785","1,435,754","1,490,647","1,311,328","723,982","331,600","43,937","1,452",44.2,"3,520","723,982331,60043,9371,452"
1,서울특별시 종로구 (1111000000),"140,601","6,125","10,069","21,929","19,345","19,563","24,007","20,542","11,443","6,609",935,34,45.8,28,"11,4436,60993534"
2,서울특별시 종로구 청운효자동(1111051500),"11,517",629,"1,116","1,411","1,550","1,965","1,899","1,399",915,552,78,3,44.7,2,915552783
3,서울특별시 종로구 사직동(1111053000),"9,104",494,665,"1,078","1,439","1,410","1,494","1,240",692,502,86,4,46.0,0,692502864
4,서울특별시 종로구 삼청동(1111054000),"2,291",82,169,264,294,320,350,393,241,150,26,2,49.0,1,241150262

In [26]:
df_ab.drop(columns='70세 이상a', inplace=True)
df_ab.head(2)       # 70a도 삭제함

,행정구역,총인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상,평균연령,출생인구
0,서울특별시 (1100000000),"9,418,885","530,837","744,507","1,379,056","1,425,785","1,435,754","1,490,647","1,311,328","723,982","331,600","43,937","1,452",44.2,"3,520"
1,서울특별시 종로구 (1111000000),"140,601","6,125","10,069","21,929","19,345","19,563","24,007","20,542","11,443","6,609",935,34,45.8,28

In [4]:
#### 결측치 삭제 후 int로 변환!!!!!!
# 다시 불러오기
# 천단위 기호 , 
df_ab = pd.read_csv('data/tmp/전체연령_출생인구.csv', encoding='utf-8',thousands=',')
df_ab.head(3)

,행정구역,총인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상,평균연령,출생인구
0,서울특별시 (1100000000),9418885.0,530837.0,744507.0,1379056.0,1425785.0,1435754.0,1490647.0,1311328.0,723982.0,331600.0,43937.0,1452.0,44.2,3520.0
1,서울특별시 종로구 (1111000000),140601.0,6125.0,10069.0,21929.0,19345.0,19563.0,24007.0,20542.0,11443.0,6609.0,935.0,34.0,45.8,28.0
2,서울특별시 종로구 청운효자동(1111051500),11517.0,629.0,1116.0,1411.0,1550.0,1965.0,1899.0,1399.0,915.0,552.0,78.0,3.0,44.7,2.0

In [5]:
# 결측치 확인
df_ab[df_ab['평균연령'].isnull()]
df_ab.isnull().sum()

행정구역        0
총인구수        1
0~9세        1
10~19세      1
20~29세      1
30~39세      1
40~49세      1
50~59세      1
60~69세      1
70~79세      1
80~89세      1
90~99세      1
100세 이상     1
평균연령       17
출생인구        2
dtype: int64

In [6]:
# 결측치 처리 (대체)
# merge작업 시 모든 행을 손실없이 병합 -> 값이 없던 행에는 결측치 생김
# -> 원래 없던 값이므로 '0'으로 바꾼다.
df_ab.fillna('0', inplace=True)

In [7]:
df_ab.isna().sum().sum()

0

In [8]:
df_ab['총인구수'].astype(int)   # 총인구수로 테스트

0       9418885
1        140601
2         11517
3          9104
4          2291
         ...
3873      15586
3874      13627
3875      12309
3876       3887
3877          0
Name: 총인구수, Length: 3878, dtype: int32

In [13]:
### 파일 저장하고 다시 불러오기
df_ab.to_csv('data/tmp/전체연령_출생인구2')
df_ab = pd.read_csv('data/tmp/전체연령_출생인구2.csv', encoding='utf-8', sep=',')
df_ab.head(3)

FileNotFoundError: [Errno 2] No such file or directory: 'data/tmp/전체연령_출생인구2.csv'

In [48]:
df_ab= df_ab.astype('int')
# df_ab.iloc[0]

ValueError: invalid literal for int() with base 10: '서울특별시  (1100000000)'

In [ ]:
########### 최종파일에서 해야할 것 메모 ############
# 행정구역이 전국인 행 삭제하기
# NaN값 처리하기

In [25]:
# df_ab[df_ab['행정구역']] == '전국'
df_ab[df_ab['행정구역'].str.contains('전국')]

,행정구역,총인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상,평균연령,출생인구
3877,전국 (1000000000),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.5,"20,397"